VITE_SITE_URL=https://meduman.sulvatech.com
VITE_SUPABASE_URL=https://whvzeppptulyovjpuzlv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndodnplcHBwdHVseW92anB1emx2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3MTc0OTgsImV4cCI6MjA5NTI5MzQ5OH0.b5REFvza-jbOkyhg5hA_0e7TvYl7i2oTQd06QzC7ugE
